.config-panel {
  margin: auto;
  padding: 20px;
  background-color: #000; /* oder jede andere Farbe, die Sie bevorzugen */
  border-collapse: collapse;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0);
}

.config-panel table {
  width: 100%;
  border-collapse: collapse;
}

.config-panel th,
.config-panel td {
  border: 1px solid #fff; /* Für dunkle Ränder */
  padding: 8px;
  text-align: center;
}

.config-panel th {
  background-color: #000;
}

.config-panel button {
  padding: 5px 10px;
  background-color: #4caf50; /* Grüne Farbe */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.config-panel button:hover {
  background-color: #45a049;
}
